<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/passchange.css">
</head>
<body>
    <div class="container">
        <div class="box">
          <h1 class="resetHeading">Reset Password</h1>
          <form class="form" action="/userfunctionality/passwordchange" method="post">
                <label id="currentPassLabel" for="currentPass">Current Password</label>&nbsp;&nbsp;
                <input value="{{user.password}}" type="text" id="currentPass" name="currentassword" class="inp"> <br> <br>
                <label id="newPassLabel" for="newPass">New Password</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" id="newPass" class="inp" name="newpassword" placeholder="enter new password"> <br> <br>
                <div class="Btndiv"><button type="submit" class="btn">Change Password</button></div>
          </form>
        </div>
    </div>
</body>
</html>