html,
body{
    height: 100%;
    margin: 0;
}

.container{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100%;
    background-color: bisque;
}

.box{
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
}

.inp{
    font-size: 20px;
    padding: 10px;
    border-radius: 50px;
}

.btn{
    font-size: 20px;
    border-radius: 50px;
}

.btn:hover{
    cursor: pointer;
}

.Btndiv{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.form{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 10px;
    background-color: white;
    border-radius: 40px;
}

#currentPassLabel,
#newPassLabel{
    font-size: larger;
}

.resetHeading{
    /* font-size: 50px; */
}
