* {
    margin: 0;
    padding: 0;
}

.navbar {
    border: 1px solid black;
    box-shadow: 3px 3px 5px black;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 9999; */
}

.container{
    margin-top: 100px;
    margin-left: 10px;
    /* padding-top: 50px; */
    /* background-color:antiquewhite; */
}

.navItem {
    padding: 5px;
    font-size: 20px;
    margin: 5px;
    text-decoration: none;
    color: black;
}

.navItem:link,
.navItem:visited {
    color: black;
    text-decoration: none;
}

.navItem:hover{
    color: blue;
}

.left{
    /* width: 50%; */
    display: inline-block;
}

.right{
    /* display: inline-block; */
    width: 45%;
    display: flex;
    justify-content: end;
}

#rightlink{
    margin-right: 20px;
}





